.modalBackground {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  background-color: rgba(46, 46, 71, 1);
}

.modalContainer {
  width: 1000px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: rgba(70, 70, 103, 1);
  border-radius: 15px;
  color: white;
  border: 1px solid black;
}

.followingContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  padding: 30px;
  overflow: hidden;
  overflow-y: scroll;
}

.reactionsRow {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  width: 100%;
  white-space: nowrap;
}

.followerInfo {
  display: flex;
  height: 50%;
  width: 100%;

  justify-content: center;
  width: 40%;
  height: fit-content;
  /* background-color: white; */
}

.remove {
  display: flex;
  justify-content: right;
}

.reactionsContainer {
  display: flex;
  align-items: center;
}

.closeBtnReactions {
  top: 300px;
  right: 15;
  color: red;
  font-size: 25px;
  background-color: transparent;
  border: none;
  font-weight: bold;
}


.closeBtnReactions:hover {
  transform: scale(1.3);
  transition: all 0.3s;
  cursor: pointer;
}

.reactionsTitle {
  position: relative;
  top: 0px;
  margin-left: 200px;
  margin-right: 200px;


}

.reactionsRow img {
  border-radius: 50%;
}
#nameBtn {
  color: white;
  background-color: transparent;
  border: none;
  font-size: 1.6em;
  transition: transform 0.3s;
}
#nameBtn:hover {
  transform: scale(1.3);
  cursor: pointer;
  text-shadow: 2px 2px 4px #000000;
  color: rgb(220, 220, 220);
}
#followingBtn {
  background-color: #4caf50; /* Set background color */
  border: none; /* Remove borders */
  color: white; /* Set text color */
  padding: 15px; /* Set padding */
  text-align: center; /* Center text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make it an inline element */
  font-size: 1.1em;
  margin: 4px 2px; /* Set margin */
  cursor: pointer; /* Set cursor style */
  transition: background-color 0.3s ease; /* Set transition effect */
}

#followingBtn:hover {
  background-color: #3e8e41; /* Change background color on hover */
  opacity: 0.7; /* Set opacity */
}
