/* src/AboutUs.css */
.about-wrapper {
  background-color: rgba(46, 46, 71, 1);
  padding-top: 56px; /* The height of your header */
  padding-left: 270px; /* The width of your dashboard */

  @media (max-width: 768px) {
    padding-left: 15px;
  }
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white; /* Set color to white for all text in the body */
}

h1 {
  text-align: center;
  padding: 2rem;
}

p {
  padding: 1rem;
  line-height: 1.6;
  text-align: center;
  font-size: 20px;
  max-width: 1200px; /* You can adjust this value as needed */
  margin: auto; /* Center the paragraph */

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
}

.team-member {
  text-align: center;
  margin-bottom: 2rem;
  width: 20%;
  min-width: 200px;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.team-member img {
  width: 30%; /* Set the width to 100% to make the image responsive */
  border-radius: 50%;
}

.team-member h3 {
  margin-top: 1rem;
  font-size: 1.2rem;
  white-space: nowrap;

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}
