@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.registration-success {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 24px;
  font-weight: bold;
  animation: fadeIn 1s ease-in;
  background-image: url('../../images/SignUpIn.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
