.navbar-container {
  position: fixed;
  top: 0;
  left: 15em;
  right: 0;
  height: 3.5em;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar-search {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 2.5em;
  width: 50%;
  max-width: 500px;
  padding: 0.5em;
}

.navbar-search-icon {
  font-size: 1.25em;
  margin-right: 0.5em;
  color: #ccc;
}

.navbar-search-input {
  flex: 1;
  font-size: 1em;
  border: none;
  outline: none;
}
