.editPostForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.editPostForm textarea {
  width: 100%;
  height: 200px;
  resize: none;
  padding: 10px;
  font-family: inherit;
  font-size: 16px;
  margin-bottom: 10px;
}

.editPostForm button {
  padding: 10px 20px;
  background-color: var(--blue-color);
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.editPostForm button:hover {
  background-color: var(--dark-blue-color);
}

.editPostForm button:disabled {
  background-color: var(--light-gray-color);
  cursor: not-allowed;
}

.post_imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  max-height: 400px;
}

.post_imgs .image-container {
  position: relative;
  margin: 5px;
}

.post_imgs .image-container img {
  width: 100%;
  height: auto;
}

.post_imgs .image-container .delete-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--bg-third);
  background: var(--bg-primary);
  display: grid;
  place-items: center;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  z-index: 99;
}

.post_text {
  margin-bottom: 20px;
}

.post_textarea {
  position: relative;
  outline: none;
  border: none;
  resize: none;
  padding: 5px 15px;
  margin-bottom: 10px;
  width: 470px;
  margin-left: 1px;
  font-family: inherit;
  font-size: 24px;
  background: var(--bg-primary);
  color: var(--color-primary);
  flex-direction: column;
}

.char-count {
  margin-top: 5px;
  font-size: 12px;
  color: #888;
}

.postBox1 {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--bg-primary);
  box-shadow: 0 12px 28px 0 var(--shadow-1), 0 2px 4px 0 var(--shadow-2),
    inset 0 0 0 1px var(--shadow-inset);
  min-height: 228px;
  width: 520px;
  border-radius: 5px;
  z-index: 9999; /* Higher value to ensure it appears on top */
}

.postBox2 {
  position: fixed;
  left: 58.3%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--bg-primary);
  box-shadow: 0 12px 28px 0 var(--shadow-1), 0 2px 4px 0 var(--shadow-2),
    inset 0 0 0 1px var(--shadow-inset);
  min-height: 228px;
  width: 520px;
  border-radius: 5px;
  z-index: 9999; /* Higher value to ensure it appears on top */
}

.blur1 {
  position: relative;
  width: 100%;
  z-index: 99999;
  background-color: rgba(46, 46, 71, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.blur2 {
  position: relative;
  z-index: 99999;
  background-color: rgba(46, 46, 71, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-image-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  color: #333;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
  margin-top: 15px;
}

.add-image-button:hover {
  width: calc(100% - 18px);
  margin: 5px 10px;
  padding: 10px;
  outline: none;
  border: none;
  background: var(--blue-color);
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.add-image-button input[type='file'] {
  display: none;
}

.add-image-button::before {
  content: 'Choose a file';
}

.add-image-button.file-selected::before {
  content: 'File selected';
}

.submit-btn {
  width: calc(100% - 18px);
  margin: 5px 10px;
  padding: 10px;
  outline: none;
  border: none;
  background: var(--blue-color);
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: rgba(46, 46, 71, 1);
  color: white;
  align-items: center;
  justify-content: center;
}
.original-pictures-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
  color: rgba(70, 70, 103, 1);
}
