.create-post-tab {
  background-color: white;
  border: 1px solid #ccd0d5;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  max-width: 500px;
  padding: 20px;
  margin: 20px auto;
  position: relative;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.create-post-form {
  display: flex;
  flex-direction: column;
}

.user-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.user-name,
.user-location {
  width: 48%;
}

.create-post-form-title,
#description,
.upload-photo,
#tags {
  margin-bottom: 10px;
}

input[type='text1'],
input[type='file'],
textarea {
  border: 1px solid #ccd0d5;
  border-radius: 3px;
  font-size: 14px;
  padding: 5px;
  resize: none;
  width: 100%;
}

textarea {
  height: 100px;
}

button {
  background-color: #1877f2;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 12px;
  cursor: pointer;
}

button:hover {
  background-color: #166fe5;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}
