.search-bar-container {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
  }
  

  .search-bar button {
    background-color: #4caf50;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .create-post-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .create-post-tab {
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    max-width: 500px;
    width: 100%;
    margin: 0 1rem;
  }
  
  .create-post-tab h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .create-post-form {
    display: flex;
    flex-direction: column;
  }
  
  .create-post-form label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .create-post-form input,
  .create-post-form textarea {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
  }
  
  .create-post-form button[type='submit'] {
    background-color: #4caf50;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .selected-files {
    margin-top: 1rem;
  }
  
  .selected-files div {
    margin-bottom: 0.5rem;
  }
  