name: MyTrip CI/CD

on:
  push:
    branches:
      - main

jobs:
  cicd-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: npm install

      # - name: Run linter
      #   run: npm run linter

      - name: Deploy service
        run: curl "https://api.render.com/deploy/srv-ch00940rddlaqj0fl45g?key=${{ secrets.RENDER_API_KEY }}"
